<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tambowskip.com.free.remoteapp">

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingActivity" />
        <activity android:name=".DiscoverAcitivity" />
        <activity android:name=".RunningApps"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".KeyBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".functionalities_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MousePad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".connectedDevices"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>